Hi {{name}}, in the last 24 hours:
- {{submitted}} applications sent for you
- {{needsYou}} waiting for your click
- {{newApplications}} new jobs picked for you
{{#topWaiting}}
* {{title}} at {{company}}
{{/topWaiting}}
